<!DOCTYPE html>
<html lang="en">
<head>

  <!-- FONT-FAMILY LATO -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">

  <!-- LUXON -->
  <script src="https://cdn.jsdelivr.net/npm/luxon@3.4.3/build/global/luxon.min.js"></script>

  <!-- FONT-AWESOME -->
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css' integrity='sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==' crossorigin='anonymous'/>

  <!-- BOOTSTRAP -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  <!-- VUE -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <!-- CSS -->
  <link rel="stylesheet" href="css/style.css">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue Boolzapp</title>
</head>
<body class="vh-100 w-100">
  <div id="app" class="cst-container d-flex">
    <!---------------------- aside ------------------------->
    <div class="aside h-100">
      <!-- top side -->
      <div class="top-side">
        <!-- barra utente -->
        <div class="d-flex justify-content-between top-option ps-2 pe-4">
          <div class="h-100 d-flex align-items-center">
            <div class="image">
              <img class="w-100 " src="img/avatar_io.jpg" alt="Mio Avatar">
            </div>
            <span>Sofia</span>
          </div>
          <div class="d-flex align-items-center">
            <i class="fa-solid fa-circle-notch"></i>
            <i class="fa-solid fa-message mx-3"></i>
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </div>
        </div>
        <!-- fine barra utente -->

        <!-- notifiche -->
        <div class="notifications w-100 d-flex align-items-center ps-3">
          <div class="image d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-bell-slash"></i>
          </div>
          <div class="d-flex flex-column ps-2">
            <span>Ricevi notifiche di nuovi messaggi</span>
            <span class="activ-notifications">Attiva notifiche desktop</span>
          </div>
        </div>
        <!-- end notifiche -->

        <!-- ricerca contatti -->
        <div class="search w-100 d-flex align-items-center px-2">
          <span><i class="fa-solid fa-magnifying-glass"></i></span>
          <input @keyup="findContact" v-model="search" class="w-100" type="text" placeholder="Cerca o inizia una nuova chat">
        </div>
        <!-- end ricerca contatti -->

      </div>
      <!-- ent top-side -->


      <!-- bottom side -->
      <div class="bottom-side">

        <!-- contatto -->
        <div
          @click="indexActive = index"
          :class="{'active' : index === indexActive}"
          class="contact d-flex justify-content-between ps-3 p-2"
          v-for="(contact, index) in visibleContact">

          <div class="h-100 d-flex">
            <div class="image align-self-center me-3">
              <img class="w-100 " :src="contact.avatar" :alt="contact.name">
            </div>
            <div class="contact-info d-flex flex-column">
              <span class="name">{{contact.name}}</span>
              <!-- ultimo messaggio -->
              <span
                class="last-message">{{lastItemArray(contact).message}}</span>
            </div>
          </div>

          <!-- data ultimo messaggio -->
          <div class="last-message">
            <span>{{lastItemArray(contact).date}}</span>
          </div>
        </div>
        <!-- fine contatto -->

      </div>
      <!-- end bottom-side -->
      
    </div>
    <!---------------------- end aside ------------------------->

    <!---------------------- container message ---------------------------->
    <div
      class="contact-message-container h-100"
      v-for="(contact, index) in visibleContact"
      :class="{'d-none': index !== indexActive}">
      <div class="d-flex justify-content-between top-option ps-2 pe-4">
        <div class="h-100 d-flex">
          <div class="image align-self-center me-3">
            <img class="w-100 " :src="contact.avatar" :alt="contact.name">
          </div>
          <div class="contact-info d-flex flex-column justify-content-center">
            <span class="name">{{contact.name}}</span>
            <span class="last-message">{{lastItemArray(contact).date}}</span>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <i class="fa-solid fa-magnifying-glass"></i>          
          <i class="fa-solid fa-paperclip mx-3"></i>
          <i class="fa-solid fa-ellipsis-vertical"></i>
        </div>
      </div>

      <!-- layout message -->
      <div class="msg-container d-flex flex-column">
        <div v-for="(msg, index) in contacts[indexActive].messages" class="d-flex" :class="{'my-msg': msg.status === 'sent', 'reply-msg': msg.status === 'received'}">
          <span class="msg position-relative">
            <div class="btn-group cst-dropdown">
              <button type="button" class="btn dropdown-toggle cst-btn" data-bs-toggle="dropdown" aria-expanded="false">
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><button class="dropdown-item" type="button">Info Messaggio</button></li>
                <li><button class="dropdown-item" type="button">Cancella Messaggio</button></li>
              </ul>
            </div>          
  
            <span class="cst-wrap">{{msg.message}}</span>
            <span class="time">{{msg.date}}</span>
          </span>
        </div>
      </div>

      <!-- write new message -->
      <div class="new-message-bar d-flex justify-content-evenly align-items-center">
        <i class="fa-regular fa-face-smile"></i>
        <input @keyup.enter="addMsg" v-model="newMsg" type="text" placeholder="Scrivi un messaggio">
        <i class="fa-solid fa-microphone"></i>
      </div>
    </div>
    <!--------------- end container message ------------------>

  </div>

  <script type="module" src="js/script.js"></script>
</body>
</html>